/* IMG GRID PORTRAITS */

.container-portrait {
    height: 40vh;
}

.container-hz-portrait {
    height: 40vh;
}

.img-grid-heading {
    text-align: center;
    height: 8vh;
}

.img-grid-heading h2 {
    font-size: 40px;
}

@media(max-width: 768px) {
    .img-grid-heading h2 {
        font-size: 20px;
    }
    .img-grid-heading {
        height: 5vh;
    }
    .filler5 {
        height: 15vh;
    }
    .container-portrait {
        height: 75vh;
        margin: 2.5vh 14px;
    }
    .container-hz-portrait {
        height: 38vh;
        margin: 2.5vh 14px;
    }
}

.img1-portrait {
    background: url(../img/portrait/portrait1.webp) no-repeat 50% 30%;
    background-size: cover;
}

.img2-portrait {
    background: url(../img/portrait/portrait2.webp) no-repeat 50% 30%;
    background-size: cover;
}

.img3-portrait {
    background: url(../img/portrait/portrait3.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img4-portrait {
    background: url(../img/portrait/portrait4.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img5-portrait {
    background: url(../img/portrait/portrait5.webp) no-repeat 50% 20%;
    background-size: cover;
}

.img6-portrait {
    background: url(../img/portrait/portrait6.webp) no-repeat 30% 40%;
    background-size: cover;
}

.img7-portrait {
    background: url(../img/portrait/portrait7.webp) no-repeat 50% 35%;
    background-size: cover;
}

.img8-portrait {
    background: url(../img/portrait/portrait8.webp) no-repeat 80% 0%;
    background-size: cover;
}

.img9-portrait {
    background: url(../img/portrait/portrait9.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img10-portrait {
    background: url(../img/portrait/portrait10.webp) no-repeat 50% 90%;
    background-size: cover;
}