/* GRUNDLAGE */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #0f0f0f !important;
  color: #fff !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

iframe{
  margin: 0 auto; 
  display:block;
}

/* FILLER */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 0px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content2 {
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* filler sind einfach nur Abstandshalter die man einsetzen kann um einen absatz zu setzten,
   man kann auch einfach nur <br> einsetzten aber diese Variante ist weitaus eleganter. Zudem
   wäre es auch möglich den folgenden Elementen einfach ne Margin Top zu vergeben, doch in
   manchen Situationen, wie z.B. auf den Grid seiten würde es dabei zu Anzeigefehlern kommen,
   weshalb ich mich für die filler entschieden habe. */
.filler {
  width: 100%;
  height: 200px;
}

.filler2 {
  width: 100%;
  height: 100px;
}

.filler3 {
  width: 100%;
  height: 50px;
}

.filler4 {
  width: 100%;
  height: 25px;
}

.filler5 {
  width: 100%;
  height: 12vh;
}

.filler6 {
  width: 100%;
  height: 17.5vh;
}

.filler7 {
  width: 100%;
  height: 5vh;
}

.filler8 {
  width: 100%;
  height: 2.5vh;
}

.filler9 {
  width: 100%;
  height: 50px;
}

@media(max-width: 768px) {

  /* die filler 1 und 2 werden im mobile view nicht angezeigt */
  .filler,
  .filler2 {
    display: none;
  }
}

/* NAVIGATION */
nav {
  width: 100%;
  /* ganze Bildschirmbreite */
  background: rgba(0, 0, 0, 0.75);
  /* Schwarz mit 75% Deckkraft */
  height: 80px;
  /* Höhe der Navbar */
  position: fixed;
  /* die navbar ist scrollt mit */
  z-index: 1;
  /* navbar liegt über dem ganzen content und ist somit immer sichtbar (wird beim scollen nicht überdeckt) */
}

nav #logoschrift {
  line-height: 80px;
  /* Navigation steht in der Mitte */
  font-weight: bold;
  float: left;
  /* Logo befindet sich Links */
}

nav #logo a {
  color: #fff;
  /* sieht nicht aus wie ein Link */
}

nav #logo a:hover {
  text-decoration: none;
  /* sieht nicht aus wie ein Link */
}

#logobild {
  float: left;
  /* Logo befindet sich Links */
  width: 40px;
  /* Größe des Bilds angepasst */
  margin-left: 8%;
  /* 8% vom linken Rand */
  line-height: 80px;
  /* Navigation steht in der Mitte */
  margin-right: 20px;
}

nav #menu {
  right: 8%;
  /* 8% vom rechten Rand */
  position: fixed;
  /* Navigation geht mit dem Viewport mit */
}

nav #menu li {
  padding-left: 60px;
  /* Zwischen jedem Navigationselement 60px */
  display: inline-block;
  cursor: pointer;
  /* Navigation ist horizontal */
  font-weight: 400;
  line-height: 80px;
  /* Navigation steht in der Mitte */
}

nav #menu li a {
  color: #fff;
  /* sieht nicht aus wie ein Link */
}

nav #menu li a:hover {
  text-decoration: none;
  /* sieht nicht aus wie ein Link */
}

#toggle {
  /* Menüöffner im Mobile View */
  /* Positionierung */
  position: absolute;
  right: 30px;
  top: 20px;
  /* Aussehen */
  font-weight: 300;
  width: 30px;
  height: 30px;
  float: right;
  opacity: 0;
  cursor: pointer;
}

.close-btn {
  /* Menüschließer im Mobile View */
  /* Positionierung */
  position: absolute;
  right: 22px;
  top: -2px;
  z-index: 2;
  /* Aussehen */
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
}

#resize {
  /* Gestaltung Menühintergrund Mobile View */
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  /* Gestaltung Menü Mobile View */
  width: 80vw;
  position: absolute;
  list-style: none;
  /* Bulletpoint sind weg */
  /* Positionierung */
  transform: translate(7vw, 15vh);
  vertical-align: center;
}

#resize #menu li {
  /* Gestaltung Menüelemente Mobile View */
  display: block;
  text-align: center;
  padding: 4vh 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize #menu li a {
  color: #fff;
  /* Sieht nicht aus wie ein Link */
  font-size: 20px;
}

#resize #menu li a:hover {
  text-decoration: none;
  /* Sieht nicht aus wie ein Link */
}

#resize #menu-work-mobile {
  /* Gestaltung WorkMenü Mobile View */
  width: 80vw;
  position: absolute;
  transform: translate(7vw, 75vh);
  list-style: none;
  /* Bulletpoint sind weg */
  text-align: center;
}

#resize #menu-work-mobile li {
  /* Gestaltung WorkMenüelemente Mobile View */
  display: inline;
  /* Die Elemente benutzen nicht mehr 100% der Breite sondern stacken gleichmäßig
                          nebeneinander (in Verbindung mit dem text-align center in dem CSS Block hierüber) bis die Zeile voll ist */
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize #menu-work-mobile li a {
  color: #fff;
  /* Sieht nicht aus wie ein Link */
  font-size: 12px;
  font-weight: 300;
  padding: 5px;
  /* Zwischen den Elemten ist nochmal ein kleiner Zwischenraum */
}

#resize #menu-work-mobile li a:hover {
  text-decoration: none;
  /* Sieht nicht aus wie ein Link */
}

#resize.active {
  /* Wenn man auf Menu klickt, dann wird es sichtbar */
  visibility: visible;
  opacity: 1;
}

@media(max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #menu {
    display: none;
    /* Desktop Menu hidden wenn in Mobile View */
  }
}

@media(min-width: 768px) {
  #resize {
    visibility: hidden;
    /* Mobile Menu hidden wenn in Desktop View */
  }
}



/* FOOTER */
.horizontal-line {
  background: rgba(255, 255, 255, 0.2);
  height: 2px;
}

.info h4 {
  font-size: 18px;
  font-weight: 300;
}

.info p {
  color: grey;
  font-weight: 300;
}

.info a {
  color: #fff;
  font-weight: 300;
}

.info a:hover {
  text-decoration: none;
  color: #fff;
  /* sieht nicht aus wie ein Link */
  /* wenn man über Link hovert bleibt Farne gleich */
}

#question {
  text-align: center;
}

#email {
  text-align: right;
}

#imprint {
  text-align: left;
}

#privacy-policy {
  text-align: right;
}

@media(max-width: 768px) {

  /* Im Mobile View alles untereinander und gecentert */
  #instagram,
  #question,
  #email,
  #privacy-policy,
  #imprint {
    text-align: center;
  }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}

/* HERO */
.hero {
  /* Main Content auf der Startseite */
  height: 100vh;
  /* viewport height ist 100 damit immer genau das Bild / die Hero Section den ganzen Bildschirm einnimmt. */
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/fotograf-wernigerode-6.jpg) no-repeat 50% 50%;
  background-size: cover;
}

/* SCROLL ICON */
.scroll-down {
  position: absolute;
  top: 90vh;
  left: calc(50% - 7px);
  /*(Mitte des Bildes - Hälfte des Icons)*/
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  /* es ist eigentlich die border eines Rechtecks, rechts und unten, welches um 45 grad gedreht ist  */
  animation: fade_move_down 3s cubic-bezier(0.3, 1, 0.2, 1) infinite;
  /* Name der Animation Geschwindigkeitskurve Wiederhohlungsanzahl */
}

@keyframes fade_move_down {

  /* Bewegung nach unten mit veränderung der Deckkraft */
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}


/* WEDDING */
/* WORK -> ausgelagert in work-grid.css */
/* PHOTO GRID */
.container-hover {
  opacity: 1.0;
  transition: .3s ease-in-out;
}

.container-hover:hover {
  /* Hover Effekt beim Bild */
  opacity: 0.65;
  transition: .3s ease-in-out;
  cursor: pointer;
}

/* ABOUT */
/* selbserklärend, nichts neues */
#about-image {
  background: url(../img/creative/work-creative3.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 80vh;
  margin-top: 15vh;
}

#about-heading {
  height: 24px;
  margin-top: 15vh;
}

#about-text {
  font-size: 18px;
  font-weight: 300;
  color: grey;
}

@media(max-width: 768px) {
  #about-text {
    font-size: 16px;
  }

  #about-heading, #about-text {
    padding: 0 40px;
  }
}

h3 {
  height: 3vh;
  margin-top: 15vh;
  color: #fff;
}

.formular-text {
  font-size: 2vh;
  font-weight: 300;
  color: grey;
}

@media (max-width: 768px) {
  .formular-text {
    /* Media Queries können genestet werden */
    font-size: 16px;
    padding: 40px;
  }
}

.formular-text a {
  /*mit nesting greife ich auf die a children von .formular-text zu */
  font-size: 2vh;
  color: #fff;
}

@media (max-width: 768px) {
  .formular-text a {
    /* Media Queries können genestet werden */
    font-size: 16px;
  }
}

.formular-text a:hover {
  /* mit dem & greife ich auf das parent zu und sage dann was beim hovern passiert */
  text-decoration: none;
  color: #fff;
}

/* CONTACT */
#contact-heading {
  height: 24px;
  margin-top: 15vh;
}

#contact-text {
  font-size: 18px;
  font-weight: 300;
  color: grey;
}

#contact-form ul {
  list-style: none;
  /* keine Bulletpoints */
}

#contact-form li {
  padding: 10px;
  /* kleiner abstand zwischen den Namen / Zeilen */
}

#contact-form label {
  font-size: 14px;
  color: grey;
  padding-left: 10px;
  /* Eingabeüberschriften ein wenig eingeschoben */
}

form p {
  color: grey;
  font-size: 13px;
}

#contact-form input,
/* Eingabefeld Name, Email */
#contact-form textarea

/* Eingabefeld Message */
  {
  width: 100%;
  padding: 10px;
  /* Eingaben ein wenig eingeschoben */
  border: 0.75px solid #fff;
  background: transparent;
  color: #fff;
  resize: vertical;
  /* Fenster kann vertikal erweiter werden */
}

input:focus,
textarea:focus {
  outline: none;
  /* Ansonsten würde dort immer ein komisches Feld drum sein */
}

.send {
  padding: 20px 30px;
  background: transparent;
  color: #dfdfdf;
  font-size: 14px;
  letter-spacing: 2px;
}

.send:hover {
  /* farben werden invertiert */
  background: #dfdfdf;
  color: #101010;
}

@media(max-width: 768px) {
  #contact-form {
    width: 85%;
  }

  #contact-heading, #contact-text {
    padding: 0 40px;
  }
}



/* CONTACT */
.contact-wedding {
  background: #0f0f0f !important;
  color: #fff !important;
  height: auto;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
}

.form-wedding {
  min-height: 80vh;
  height: auto;
  color: #fff !important;
  margin-top: 10vh;
}


#contact-form-wedding label {
  margin-top: 4vh;
  font-size: 19px;
}

#contact-name, #contact-email,
/* Eingabefeld Name, Email */
#contact-form-wedding textarea

/* Eingabefeld Message */
{
width: 70%;
font-size: 15px;
margin-left: 15%;
margin-right: 15%;
padding: 10px 30px;
/* Eingaben ein wenig eingeschoben */
border: 0.75px solid #fff;
background: #FBF5F1;
color: #767676;
resize: vertical;


/* Fenster kann vertikal erweiter werden */
}

#contact-form-wedding textarea {
padding: 20px 30px;
}

input:focus,
textarea:focus {
outline: none;
}

.send {
margin-top: 1vh;
padding: 18px 4%;
background: transparent;
color: #FBF5F1;
background: #101010;
font-size: 18px;
letter-spacing: 2px;
margin-bottom: 10vh;
}

.send:hover {
background: #FBF5F1;
color: #101010;
}

/* Customize the label (the container) */
.container-check {
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
width: 70%;
margin-left: 15%;
margin-right: 15%;
}

/* Hide the browser's default checkbox */
input[type=checkbox] {
display: inline-block;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
margin-left: -20px;
height: 26px;
width: 26px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input~.checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked~.checkmark {
background-color: #101010;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container-check input:checked~.checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
left: 9px;
top: 6px;
width: 7px;
height: 12px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.h2mobile {
display: none;
}

@media(max-width: 768px) {

.text {
  font-size: 15px;
}

.form-wedding {
  margin-top: 10vh;
}

#contact-form-wedding label {
  margin-top: 4vh;
  font-size: 15px;
}

#contact-name, #contact-email,
#contact-form-wedding textarea {
  font-size: 12px;
}
}
