/* IMG GRID WEDDINGS */

.container-wedding {
    height: 80vh;
}

.img-grid-heading {
    text-align: center;
    height: 8vh;
}

.img-grid-heading h2 {
    font-size: 40px;
}

@media(max-width: 768px) {
    .img-grid-heading h2 {
        font-size: 20px;
    }
    .img-grid-heading {
        height: 5vh;
    }
    .filler5 {
        height: 15vh;
    }
    .container-wedding {
        height: 75vh;
        margin: 2.5vh 14px;
    }
}

.img1-wedding {
    background: url(../img/wedding/wedding-page2.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img2-wedding {
    background: url(../img/wedding/wedding-page3.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img3-wedding {
    background: url(../img/weddings/wedding3.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img4-wedding {
    background: url(../img/weddings/wedding4.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img5-wedding {
    background: url(../img/weddings/wedding5.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img6-wedding {
    background: url(../img/weddings/wedding6.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img7-wedding {
    background: url(../img/weddings/wedding7.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img8-wedding {
    background: url(../img/weddings/wedding8.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img9-wedding {
    background: url(../img/weddings/wedding9.webp) no-repeat 50% 50%;
    background-size: cover;
}

.img10-wedding {
    background: url(../img/weddings/wedding10.webp) no-repeat 50% 50%;
    background-size: cover;
}