/* FORMULARE */
@import './variables'; /* ich habe die variablen ausgelagert, um es übersichtlicher
zu machen*/

h3 {
    height: 3vh;
    margin-top: 15vh;
    color: $highlighted;
}

.formular-text {
    font-size: 2vh;
    font-weight: 300;
    color: $standard;

    @media(max-width: $screen-width-mobile) { /* Media Queries können genestet werden */
        font-size: 16px;
        padding: 40px;
    }

    a { /*mit nesting greife ich auf die a children von .formular-text zu */
        font-size: 2vh;
        color: $highlighted;

        @media(max-width: $screen-width-mobile) { /* Media Queries können genestet werden */
            font-size: 16px;
        }
        &:hover { /* mit dem & greife ich auf das parent zu und sage dann was beim hovern passiert */
            text-decoration: none;
            color: $highlighted;
        }
    }
}